.leaflet-container {
  width: 80%;
  height: 99%;
}
.app {
  display: flex;
  text-align: center;
}

.polyline {
  z-index: 0;
  opacity: 0.4;
  transition: 0.3s;
  stroke-width: 3px;
}

body {
  background-color: #3f3f3f;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.polyline:hover {
  z-index: 555555 !important;
  stroke: #cc4400;
  stroke-width: 7px;
  opacity: 1;
}

.content {
  width: 100%;
  display: flex;
}

.background {
  height: 99%;
  background-image: url("/public/background.jpg");
  background-size: 100% 100%;
  width: 20%;
  min-width: 360px;
}

.sidebar {
  border-radius: 1rem;
  align-items: center;
  height: 99%;
  padding: 1rem;
  color: rgb(218, 218, 218);
  background-color: rgba(53, 53, 53, 0.541);
}
